[client]
port                    = 3306
default-character-set   = utf8mb4


[mysqld]
user                    = mysql
port                    = 3306
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

default-storage-engine  = InnoDB
default-authentication-plugin   = mysql_native_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'

slow_query_log
long_query_time         = 3
slow-query-log-file     = /var/lib/mysql/mysql.slow.log
log-error               = /var/lib/mysql/mysql.error.log

default-time-zone       = '+8:00'

server_id=2		     #服务器id
gtid_mode=ON                 #开启gtid模式
enforce_gtid_consistency=ON  #强制gtid一致性，开启后对于特定create table不被支持
#这个参数一般用在主主同步中，用来错开自增值, 防止键值冲突
auto_increment_offset = 2
#这个参数一般用在主主同步中，用来错开自增值, 防止键值冲突
auto_increment_increment = 2
# 主从复制的格式（mixed,statement,row，默认格式是statement）官方推荐在使用GTID情况下，基于行复制
binlog_format=row
#将从服务器从主服务器收到的更新记入到从服务器自己的二进制日志文件中
log-slave-updates = ON
#多线程复制
slave_parallel_workers = 4
#控制binlog的写入频率。每执行多少次事务写入一次(这个参数性能消耗很大，但可减小MySQL崩溃造成的损失)
sync_binlog = 1
# 设置innodb 日志落盘时间
innodb_flush_log_at_trx_commit=1
#二进制日志自动删除的天数，默认值为0,表示“没有自动删除”，启动时和二进制日志循环时可能删除
expire_logs_days = 7
#接收数据包的大小
max_allowed_packet = 100M
#最大连接的客户端数
max_connections = 2000
#缓冲区大小 
innodb_buffer_pool_size = 10G
#innodb redo log日志组个数
innodb_log_files_in_group = 4
#redo log 日志循环写日志大小，生产环境不能设置的太小
innodb_log_file_size = 500M 
#IO处理能力上限
innodb_io_capacity = 2000

#忽略复制的库
replicate-ignore-db=mysql
replicate-ignore-db=sys
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema

[mysql]
default-character-set   = utf8mb4
